*{
  text-align: center;
  margin: 0 auto;
  font-family: 'Calibri';
}

body{
  min-height: 100vh;
}

.wrapper{
  max-width: 80%;
}

ul{
  list-style-type: none;
}

li{
  display: inline;
}

li a{
  text-decoration: none;
  color: black;
  font-size: 2em;
  padding: 10px 10px 10px 10px;
}

header p{
  font-size: 1.2em;
  padding: 10px;
}

header p:first-child{
  color: gray;
  font-style: italic;
}

p{
  line-height: 1.6em;
}

p.description{
  font-size: 1.2em;
  text-align: left;
  font-weight: 400;
}

p.mapdescription{
  font-size: 1.3em;
  text-align: left;
}

p.invitation{
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1.2em;
}

div.caption{
  font-size: 1.4em;
}

footer{
  text-align: center;
}

img.logo{
  max-width: 100%;
}

/*fix - wyrównanie do ramki loga*/
div.row{
  margin-left: 0px;
  margin-right: 0px;
}
div.col-lg-6, div.col-md-4{
  padding-left: 0px;
  padding-right: 0px;
}
img.map{
  float: right;
}

/*style dla tabeli podstrony kontakt*/
table tr{
  border: 1px solid gray;
}

table td{
  padding: 5px;
  font-size: 1.4em;
}

table tr td:first-child{
  font-weight: 600;
}

div.tableholder{
  margin-bottom: 20px;
}

/*media queries na telefony*/
@media (max-width: 768px){
  img{
    max-width: 100%;
  }
  
  img.map{
    float: none;
  }
  
  div.thumbnail{
    width: 90%;
  }
  
  div.thumbnail img{
    max-width: 90%;
  }
  
  p.mapdescription{
    font-size: 1.2em;
  }
}
